

    <h2> Comments</h2>

<%= form_with model: @comment, url: user_post_comments_path do |f| %>

     <div>

      <%= f.label :text, "Text" %>
      <%= f.text_area :text, required: true %>
    </div>
    <%= f.submit "Publish"%>

  </div>
  
<% end %>

